{% extends "wrap.html"%}
{% block title %}Результат{% endblock %}
{% block content%}
{% if id == 1 %}
    <h2>Прогноз летального исхода мужчины</h2>
    {% if resp < 50 %}
        <p>Маловероятно, что  возникнут осложнения в результате операции</p>
    {% else %}
        <p>Высока вероятность, что возникнут осложнения в результате операции</p>
    {% endif %}
{% elif id == 2 %}
    <h2>Прогноз осложнений после операции у мужчины</h2>
    {% if resp < 50 %}
        <p>Маловероятно, что возникнут осложнения в результате операции</p>
    {% else %}
        <p>Высока вероятность, что возникнут осложнения в результате операции</p>
    {% endif %}
{% elif id == 3 %}
    <h2>Прогноз летального исхода женщины</h2>
    {% if resp < 50 %}
        <p>Маловероятно, что возникнут осложнения в результате операции</p>
    {% else %}
        <p>Высока вероятность, возникнут осложнения в результате операции</p>
    {% endif %}
{%elif id == 4 %}
    <h2>Прогноз осложнений после операции у женщины</h2>
    {% if resp < 50 %}
        <p>Маловероятно, что возникнут осложнения в результате операции</p>
    {% else %}
        <p>Высока вероятность, что возникнут осложнения в результате операции</p>
    {% endif %}
{% else %}
    <p> {{id}} unindefited
{% endif %}

<a class="btn btn-dark" href="{% url 'form' id_form=id%}">Назад</a>
{% endblock %}